<div class="text-layout">
  <h1>Pipes Básicos</h1>
  <p>Pipes incluidos en Angular - Usualmente en el Common Module.</p>
</div>

<div class="grid text-layout">
  <div class="col-4">
    <p-card header="uppercase" [subheader]="nameLower | uppercase">
      {{ nameLower }}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="lowercase" [subheader]="nameUpper | lowercase">
      {{ nameUpper }}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="titlecase" [subheader]="fullname | titlecase">
      {{ fullname }}
    </p-card>
  </div>
</div>

<div class="text-layout">
  <h1>Dare | Fecha | Pipe</h1>
  <p>Pipe para mostrar fechas.</p>
</div>

<div class="grid text-layout">
  <div class="col-6">
    <p-card>
      <ul>
        <li>date</li>
        <li>date | date</li>
        <li>date | date: "short"</li>
        <li>date | date: "long "</li>
        <li>date | date: "dd/MM/YYYY"</li>
      </ul>
      <hr />
      <ul>
        <li>date | date: "long":"GMT-6"</li>
        <li>date | date: "long":"GMT-4"</li>
        <li>date | date: "long":"GMT-6":"fr"</li>
      </ul>
    </p-card>
  </div>
  <div class="col-6">
    <p-card>
      <ul>
        <li>{{ date }}</li>
        <li>{{ date | date }}</li>
        <li>{{ date | date: "short" }}</li>
        <li>{{ date | date: "long" }}</li>
        <li>{{ date | date: "dd/MM/YYYY" }}</li>
      </ul>
      <hr />
      <ul>
        <li>{{ date | date: "long":"GMT-6" }}</li>
        <li>{{ date | date: "long":"GMT-4" }}</li>
        <li>{{ date | date: "long":"GMT-6":"fr" }}</li>
      </ul>
    </p-card>
  </div>
</div>
