<div class="text-layout">
  <h1>DecimalPipe y Porcentaje</h1>
  <p>Pipes incluidos en Angular - Usualmente en el Common Module.</p>
</div>

<div class="grid">
  <div class="col">
    <p-card header="Ventas netas" subheader="del presente año">
      <i class="pi pi-dollar"></i>
      {{ ventasNetas | number: "8.2-2" }}
    </p-card>
  </div>
  <div class="col">
    <p-card header="Ventas brutas" subheader="del presente año">
      {{ ventasNetas + 10000 | currency: "CAD":"symbol-narrow":"1.4-4" }}
    </p-card>
  </div>
  <div class="col">
    <p-card header="Ganancia porcentual" subheader="del presente año">
      {{ porcentaje | percent: "2.2-2" }}
    </p-card>
  </div>
</div>
