<div class="text-700">
  <h1>Pipes personalizados</h1>
  <p>Pipes creados por {{ "nosotros" | mayus: isMayus }}</p>
</div>

<p-toolbar styleClass="mb-3">
  <div class="p-toolbar-group-left"></div>

  <div class="p-toolbar-group-right">
    <button
      pRipple
      pButton
      type="button"
      class="p-button-outlined mr-1"
      (click)="toggleMayus()"
    >
      Toggle mayúsculas
    </button>
    <button
      pButton
      pRipple
      icon="pi pi-sort"
      label="Por nombre"
      class="p-button-outlined mr-1 p-button-secondary"
      (click)="setSortBy('name')"
    ></button>
    <button
      pButton
      pRipple
      icon="pi pi-sort"
      label="Vuela"
      class="p-button-outlined mr-1 p-button-secondary"
      (click)="setSortBy('fly')"
    ></button>
    <button
      pButton
      pRipple
      icon="pi pi-sort"
      label="Por color"
      class="p-button-outlined mr-1 p-button-secondary"
      (click)="setSortBy('color')"
    ></button>
  </div>
</p-toolbar>

<p-table
  [value]="heroes | sort: sortBy"
  responsiveLayout="scroll"
  styleClass="mb-3"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Nombre</th>
      <th>Vuela</th>
      <th>Color</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-hero>
    <tr>
      <td>{{ hero.name | titlecase }}</td>
      <td>{{ hero.fly | fly | titlecase }}</td>
      <td>{{ hero.color }}</td>
    </tr>
  </ng-template>
</p-table>

<p-table [value]="heroes | slice: 0" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name">
        Nombre<p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="fly">Vuela<p-sortIcon field="fly"></p-sortIcon></th>
      <th pSortableColumn="color">
        Color<p-sortIcon field="color"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-hero>
    <tr>
      <td>{{ hero.name | titlecase }}</td>
      <td>{{ hero.fly | fly | titlecase }}</td>
      <td>{{ hero.color }}</td>
    </tr>
  </ng-template>
</p-table>
