<div class="text-700">
  <h1>Pipes no tan comunes</h1>
  <p>Pipes incluidos en Angular - Usualmente en el Common Module.</p>
</div>

<div class="grid">
  <div class="col-12 md:col-6">
    <p-fieldset legend="I18nSelect Pipe" [toggleable]="true">
      <p>
        Saludos {{ name }}, es un placer
        {{ gender | i18nSelect: invitationMap }} a nuestro evento.
      </p>
      <button
        pButton
        pRipple
        type="button"
        label="Cambiar persona"
        class="p-button-info p-button-text"
        icon="pi pi-users"
        (click)="changeCustomer()"
      ></button>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="I18nPlural Pipe" [toggleable]="true">
      <p>
        Actualmente tenemos {{ customers.length | i18nPlural: customersMap }}.
      </p>
      <button
        pButton
        pRipple
        [disabled]="!customers.length"
        type="button"
        label="Borrar cliente"
        class="p-button-danger p-button-text"
        icon="pi pi-trash"
        (click)="deleteCustomer()"
      ></button>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Slice Pipe" [toggleable]="true">
      <b>original</b>
      <pre>{{ customers }}</pre>
      <b>slice:0:2</b>
      <pre>{{ customers | slice: 0:2 }}</pre>
      <b>slice:1:2</b>
      <pre>{{ customers | slice: 1:2 }}</pre>
      <b>slice:1:3</b>
      <pre>{{ customers | slice: 1:3 }}</pre>
      <b>slice:3:3</b>
      <pre>{{ customers | slice: 3:3 }}</pre>
      <b>slice:0:4</b>
      <pre>{{ name | slice: 0:4 }}</pre>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Json Pipe" [toggleable]="true">
      <pre>{{ heros | json }} </pre>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
      <ul>
        <li *ngFor="let obj of person | keyvalue">
          <b>{{ obj.key | titlecase }}</b
          >: {{ obj.value }}
        </li>
      </ul>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Async Pipe" [toggleable]="true">
      <pre *ngIf="(myObservable | async) === null">
Resolviendo observable...</pre
      >
      <pre>{{ myObservable | async }}</pre>
      <pre *ngIf="(myPromise | async) === null">Resolviendo promesa...</pre>
      <pre>{{ myPromise | async }}</pre>
    </p-fieldset>
  </div>
</div>
